body {
  padding: 5% 20%;
  text-align: center;
}

@media only screen and (max-width: 1000px) {
  body {
    padding: 5% 3%;
  }
}
* {
  line-height: 1.8;
}

img {
  max-width: 100%;
  object-fit: cover;
  text-align: center !important;
}
#dumbtext {
  text-align: justify !important;
  float: left;
}
